<div class="bg-[url('assets/img/background.png')]
           w-full h-screen bg-no-repeat bg-cover bg-fixed bg-center flex justify-center items-center py-20 border">

  <div class="h-3/5 w-3/5 flex flex-wrap justify-center items-center border">

    <div class="bg-[url('assets/img/aegis_logo.png')]
              card bg-contain bg-no-repeat bg-center w-36 h-16 bg-base-100 m-5
transition ease-in-out bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">
    </div>
    <div class="bg-[url('assets/img/aegis_logo.png')]
              card bg-contain bg-no-repeat bg-center w-36 h-16 bg-base-100 m-5
transition ease-in-out bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">
    </div>
    <div class="bg-[url('assets/img/aegis_logo.png')]
              card bg-contain bg-no-repeat bg-center w-36 h-16 bg-base-100 m-5
transition ease-in-out bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">
    </div>
    <div class="bg-[url('assets/img/aegis_logo.png')]
              card bg-contain bg-no-repeat bg-center w-36 h-16 bg-base-100 m-5
transition ease-in-out bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">
    </div>
    <div class="bg-[url('assets/img/aegis_logo.png')]
              card bg-contain bg-no-repeat bg-center w-36 h-16 bg-base-100 m-5
transition ease-in-out bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">
    </div>
    <div class="bg-[url('assets/img/aegis_logo.png')]
              card bg-contain bg-no-repeat bg-center w-36 h-16 bg-base-100 m-5
transition ease-in-out bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">
    </div>
    <div class="bg-[url('assets/img/aegis_logo.png')]
              card bg-contain bg-no-repeat bg-center w-36 h-16 bg-base-100 m-5
transition ease-in-out bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">
    </div>
    <div class="bg-[url('assets/img/aegis_logo.png')]
              card bg-contain bg-no-repeat bg-center w-36 h-16 bg-base-100 m-5
transition ease-in-out bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">
    </div>
    <div class="bg-[url('assets/img/aegis_logo.png')]
              card bg-contain bg-no-repeat bg-center w-36 h-16 bg-base-100 m-5
transition ease-in-out bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">
    </div>
    <div class="bg-[url('assets/img/aegis_logo.png')]
              card bg-contain bg-no-repeat bg-center w-36 h-16 bg-base-100 m-5
transition ease-in-out bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">
    </div>
    <div class="bg-[url('assets/img/aegis_logo.png')]
              card bg-contain bg-no-repeat bg-center w-36 h-16 bg-base-100 m-5
transition ease-in-out bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">
    </div>
    <div class="bg-[url('assets/img/aegis_logo.png')]
              card bg-contain bg-no-repeat bg-center w-36 h-16 bg-base-100 m-5
transition ease-in-out bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">
    </div>
    <div class="bg-[url('assets/img/aegis_logo.png')]
              card bg-contain bg-no-repeat bg-center w-36 h-16 bg-base-100 m-5
transition ease-in-out bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">
    </div>
    <div class="bg-[url('assets/img/aegis_logo.png')]
              card bg-contain bg-no-repeat bg-center w-36 h-16 bg-base-100 m-5
transition ease-in-out bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">
    </div>
    <div class="bg-[url('assets/img/aegis_logo.png')]
              card bg-contain bg-no-repeat bg-center w-36 h-16 bg-base-100 m-5
transition ease-in-out bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">
    </div>
    <div class="bg-[url('assets/img/aegis_logo.png')]
              card bg-contain bg-no-repeat bg-center w-36 h-16 bg-base-100 m-5
transition ease-in-out bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">
    </div>
    <div class="bg-[url('assets/img/aegis_logo.png')]
              card bg-contain bg-no-repeat bg-center w-36 h-16 bg-base-100 m-5
transition ease-in-out bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">
    </div>

  </div>



</div>
