<div class="bg-[url('assets/img/background.png')]
           w-full h-screen bg-no-repeat bg-cover bg-fixed bg-center flex flex-col items-center py-20">

  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-32 h-32 ">
    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 5.25l-7.5 7.5-7.5-7.5m15 6l-7.5 7.5-7.5-7.5" />
  </svg>

  <div class="bg-[url('assets/img/kraken.png')]
              h-3/5 w-full bg-no-repeat bg-cover bg-fixed flex justify-center items-center">
    <div class="card w-96 bg-base-100 ">
      <div class="card-body">
        <h2 class="card-title">¿QUE ES ALFILO?</h2>
        <p>En AL FILO queremos ver todo el contenido del juego con un ritmo sano. <br><br> Somos un engranaje forjado a partir de las ilusiones y las aportacion es de sus miembros con la finalidad de divertirse</p>
      </div>
    </div>
    <div class="bg-[url('assets/img/redeemer.jpg')]
                h-full w-3/5 bg-no-repeat bg-cover bg-center
               ">
    </div>


  </div>


</div>

